name: Test
on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.5.2

      - name: Install Playwright browsers
        run: deno run -A npm:playwright@1.48.0 install --with-deps chromium

      - name: Test code
        run: deno task test

      - name: Test publish
        run: deno publish --dry-run
